* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --bg-image: url(./assets/bg-yellow.svg);
  --card-bg-color: #1d1c19;
  --color-bg: ;
}

body.blue {
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
  --bg-image: url(./assets/bg-blue.svg);
  --card-bg-color: #202024;
}

body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --bg-image: url(./assets/bg-green.svg);
  --card-bg-color: #1a1f1b;
}

body * {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
body {
  background-color: #121214;
  background-image: var(--bg-image);
  background-position-y: center;
  background-position-y: -715px;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}
.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

.card h2:hover {
  transform: scale(1.2);
  transition: 0.8s;
  border: 1px solid var(--card-color-primary);
  -moz-box-shadow: 0px 0px 30px var(--card-color-primary);
  -webkit-box-shadow: 0px 0px 8px var(--card-color-primary);
}

.card ul li img:hover {
  transform: scale(1.3);
  border-radius: 30px;
  transition: transform 0.8s;
}

.card ul li strong:hover {
  transform: scale(1.3);
}

.card h2:hover,
.card ul li strong,
.card ul li img {
  transition: transform 0.8s;
}

.card {
  animation: appear 3s;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-2000px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
